.ProductsBox{
   border: 1px solid red;
   width:100%;
   height: fit-content;
}
.ProductBox{
  width:80%;
  height: fit-content;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(3,30%);
  justify-content: space-around;
  border: 1px solid black;
  margin-top: 30px;
}
.ProductBox>div{
   border: 1px solid blue;
   margin-bottom: 10px;
   padding: 10px;
}
.wish:hover{
   font-size: large;
   transition: all 0.2s ease;
}

.items{
   border:1px solid red;
   width:80%;
   height: fit-content;
   display: grid;
   grid-template-columns:60% 40%;
   grid-template-rows: 100%;
   margin:auto;
}
.itemBox{
   display: grid;
   grid-template-columns: repeat(2,50%);
   grid-template-rows: repeat(3,33%);
  
}